.guides
  background:  url("../img/guides_bg-1.svg") top 23% right 6%, 5px 5px,
  url("../img/guides_bg-2.svg") top 69% left 35%, 5px 5px,
  url("../img/guides_bg-3.svg") top 27% left 12.8%, 5px 5px
  background-repeat: no-repeat
  padding: 150px 0
  &__block
    display: flex
    justify-content: space-between
    align-items: center
  &__content
    margin-top: 10px  
  &__text
    max-width: 392px
    font-size: 17px
    font-weight: 300
    line-height: 30px 
    color: #7D7987
    margin-top: 10px
  &__button
    padding: 17px 38px  
    margin-left: 0
    max-width: 170px
    margin-top: 15px  
  &-title
    &__heading
      max-width: 350px
      padding: 10px 0
      margin: 0  