.hero
  &__block
    display: flex
    justify-content: space-between
    align-items: center
  &__title
    max-width: 356px
    font-size: 64px
    font-family:  playfair 
    line-height: 80px
    margin-top: 95px
  &__content
    display: flex
    flex-direction: column
    width: 50%
  &__img
    position: absolute
    top: 75px
    right: 55px
    margin-top: 72px
    width: 50%
  &__elem-1
    width: 20px
    height: 20px
    position: absolute
    top: 632px
    right:  778px  
  &__elem-2
    width: 26px
    height: 26px
    position: absolute
    top: 339px
    left: -668px   
  &__elem-3
    width: 20px
    height: 20px
    position: absolute
    top: 60px
    right:  865px     
.form
  margin-top: 30px
  &__title
    font-family: inter
    font-size: 22px
    font-weight: 600
    line-height: 27px    
    &::after
      content: " "
      position: absolute
      top: 480px
      left: 154px
      width: 32px
      height: 2px
      background-color: $dark-text
  &__row
    display: flex
    flex-wrap: wrap
    margin-top: 90px
   
  &__single
    outline:  none
    font-size: 15px
    font-family: inter
    font-weight: 400
    line-height: 32px
    color: $form
    padding-left: 30px  
    width: 220px
    height: 52px  
    margin-right: 30px
    margin-bottom: 35px
    border: 0.8px solid #AFB0B9
    border-radius: 6px
  &__button
    display: flex
    align-items: start
    padding: 15px 60px
    margin: 0 
    margin-top: 20px
    border-radius: 8px