.way
  margin: 150px 0
  padding: 100px 0
  &__block
    display: flex
    justify-content: space-between
    align-items: center
  &__img
    position: relative
    top: 0
    left: -100px
    margin-top: 72px  
  &__content
    display: flex
    flex-direction: column
    justify-content: space-between
 
    margin-top: 45px 
    margin: 0 auto
  &__title
   max-width: 480px
   font-size: 36px
   font-family: playfair 
   font-weight: 700
   line-height: 50px   
   padding: 10px 0
   margin-top: 10px
  &__text
    max-width: 392px
    font-size: 17px
    font-weight: 300
    line-height: 30px 
    color: #7D7987
    margin-top: 20px
  &__button
    padding: 17px 38px  
    margin-left: 0
    max-width: 170px
    margin-top: 30px
